---
import Clock from "@src/assets/icon-svg/clock.svg";
import Money from "@src/assets/icon-svg/money.svg";
import Garantia from "@src/assets/icon-svg/garantia.svg";
import Left from "@src/assets/icon-svg/left.svg";
import Right from "@src/assets/icon-svg/right.svg";

import H1Title from "@src/components/comun/h1-title.astro";
import ArticleDataIcon from "@src/components/main-index/package/article-data-icon.astro";
import Button from "@src/components/comun/button-content.astro";
import Mascara from "@src/components/comun/mascara.astro";

import type { ItemProps, AttributosProps } from "@src/utils/type-props";

const { item, indice } = Astro.props;
const { title, description, atributos, imagesCarousel } = item as ItemProps;
const { duración, garantía, precio } = atributos as AttributosProps;
---

<div class="size-full flex flex-col">
  <div
    id={`carousel-track-${indice}`}
    class="basis-0 grow-1 relative overflow-hidden"
    data-carousel-index
    data-indice={indice}
  >
    {
      imagesCarousel.map((image, index) => (
        <img
          src={image}
          alt={`imagen ${index} del carrusel`}
          class:list={[
            "absolute size-full object-cover object-center transition-all duration-1000 ease-in-out",
            index === 0 ? "opacity-100 z-10" : "opacity-0 z-20",
          ]}
          data-index={index}
        />
      ))
    }
    <div
      class="absolute w-full h-auto z-40 -bottom-1 flex gap-1 justify-center items-center px-2"
    >
      <button
        data-direction="left"
        class="bg-white rounded-lg p-1 flex justify-center items-center text-black border border-white shadow-inner shadow-black/60 hover:cursor-pointer hover:scale-105 transition-all duration-150 ease-in-out"
      >
        <Left />
      </button>
      <div
        id={`carousel-dots-${indice}`}
        class="size-auto flex gap-2 bg-white px-4 py-4 rounded-t-xl"
      >
        {
          imagesCarousel.map((_, index) => (
            <span
              class:list={[
                "inline-block size-4 rounded-full bg-black/80 hover:bg-black transition-all duration-100 shadow-inner shadow-white/70 border border-white",
              ]}
              data-dot-index={index}
            />
          ))
        }
      </div>
      <button
        data-direction="right"
        class="bg-white rounded-lg p-1 flex justify-center items-center text-black border border-white shadow-inner shadow-black/60 hover:cursor-pointer hover:scale-105 transition-all duration-150 ease-in-out"
      >
        <Right />
      </button>
    </div>
    <div class="size-full absolute z-30 -bottom-7">
      <Mascara direction="bottom" />
    </div>
  </div>
  <div class="basis-0 grow-1 flex flex-col p-7">
    <div class="w-full h-auto flex flex-col gap-5 text-center">
      <H1Title title={title} color="text-primary" size="text-3xl" />
      <div class="w-full h-auto flex gap-2">
        <ArticleDataIcon title="Duración" value={duración} color="bg-blue-50">
          <Clock class="size-full text-blue-400" />
        </ArticleDataIcon>
        <ArticleDataIcon title="Garantía" value={garantía} color="bg-green-50">
          <Garantia class="size-full text-green-400" />
        </ArticleDataIcon>
        <ArticleDataIcon title="Precio" value={precio} color="bg-purple-50">
          <Money class="size-full text-purple-400" />
        </ArticleDataIcon>
      </div>
      <p class="text-xl text-start text-uni-secondary font-semibold">
        {description}
      </p>
    </div>
    <div class="basis-o grow-1 flex justify-center items-end">
      <Button class="mb-0" title="Resarvar en whatsapp" variant="primary" />
    </div>
  </div>
</div>

<script>
  import { setupCarousels } from "@src/utils/setup-carousel";
  setupCarousels();
</script>
