---
import type {
  ListContactProps,
  TitleProps,
  ClassProps,
} from "@src/utils/type-props";

type CombinatedProps = ListContactProps & TitleProps & ClassProps;

const {
  class: className,
  title,
  items,
  description,
} = Astro.props as CombinatedProps;
---

<div class="text-white flex-grow basis-0">
  <h1 class="font-bungee font-light text-2xl mb-5">{title}</h1>
  <p class="text-uni-secondary text-left pb-3">{description}</p>
  {
    items &&
      items.map((item) => (
        <article
          class:list={[
            "flex items-center text-uni-secondary gap-2 my-3",
            item.link && "group",
            className,
          ]}
        >
          <item.icon
            class:list={[
              item.link && "group-hover:text-primary",
              "transition-colors duration-200",
            ]}
          />
          {item.link ? (
            <a
              href={item.link}
              target="_blank"
              class="group-hover:text-primary transition-colors duration-200"
            >
              {item.label}
            </a>
          ) : (
            <span>{item.label}</span>
          )}
        </article>
      ))
  }
</div>
