---
import Boton from "@src/components/comun/button-content.astro";
import DialogElement from "@src/components/dialog/estructura/dialog-element.astro";

import type { ConsumerCardProps } from "@src/utils/type-props";
const { item, varible = "flex", indice } = Astro.props as ConsumerCardProps;

const className =
  "bg-white rounded-xl flex flex-col border border-gray-200 hover:shadow-xl transition-all duration-100 ease-in";
---

{
  varible === "grid" ? (
    <div class:list={[className, "w-full h-[50vh] overflow-hidden realce"]}>
      <section class="w-full h-1/2 flex items-center justify-center bg-gray-200 overflow-hidden">
        <img
          src={item.imageLink}
          alt={item.title}
          class="size-full object-cover object-center transition-all duration-100 ease-in afectado"
        />
      </section>
      <section class="w-full h-1/2 flex flex-col gap-3">
        <div class="flex justify-center items-center gap-3 mt-2">
          <item.icon class="size-11 text-primary" />
          <h2 class="font-bungee font-light text-2xl text-gray-900">
            {item.title}
          </h2>
        </div>
        <p class="text-gray-600 text-center">{item.description}</p>
        <div class="w-full h-auto flex-grow basis-0 flex items-end justify-center">
          <Boton title="Reserve Ahora" />
        </div>
      </section>
    </div>
  ) : (
    <span data-dialog-target={`card-dialog-${indice}`} role="button" class="cursor-pointer">
      <div class:list={[className, "gap-2 p-6 hover:-translate-y-1"]}>
        <item.icon class="size-12 text-primary" />
        <h2 class="font-bungee font-light text-xl text-gray-900">
          {item.title}
        </h2>
        <p class="text-gray-600">{item.description}</p>
        <span class="text-secondary font-semibold">ver más →</span>
      </div>
    </span>
    <DialogElement id={`card-dialog-${indice}`} tipo="multipoint">
      <h1>hola mundo ${indice}</h1>
    </DialogElement>
  )
}

<style>
  .realce:hover .afectado {
    transform: scale(1.05);
  }
</style>
