---
import type { InputLabelCardProps, TitleProps } from "@src/utils/type-props";

import Container from "@src/components/comun/contener-div.astro";

type CombinatedProps = TitleProps & InputLabelCardProps;

const { title, type, varible = "type" } = Astro.props as CombinatedProps;

const centered =
  varible === "textarea" ? "max-h-11 items-start" : "items-center";
---

<Container class="flex-col gap-2 md:gap-1 text-start">
  <label
    for={title}
    class="w-full text-uni-secondary font-bungee text-lg md:text-xs font-semibold uppercase grid contener-input-label"
  >
    {
      varible === "textarea" ? (
        <textarea
          id={title}
          name={title}
          rows="4"
          required
          class="input-textarea font-sans focused-selector w-full bg-white rounded-2xl border-2 border-uni-secondary/30 px-4 py-2 md:px-3 md:py-1 focus:outline-none focus:border-primary"
          placeholder=" "
        />
      ) : (
        <input
          type={type}
          id={title}
          name={title}
          required
          class="input-textarea font-sans focused-selector w-full bg-white rounded-2xl border-2 border-uni-secondary/30 px-4 py-2 md:px-3 md:py-1 focus:outline-none focus:border-primary"
          placeholder=" "
        />
      )
    }
    <span
      class:list={[
        "input-textarea z-50 w-max h-full ml-4 p-2 md:p-1 md:text-base flex origin-[left_center] transition-all duration-200 pointer-events-none",
        centered,
      ]}
    >
      Escribe aquí tu {title}
    </span>
  </label>
</Container>

<style>
  .contener-input-label {
    grid-template-areas: "input";
  }

  .input-textarea {
    grid-area: input;
  }

  .focused-selector:is(:focus, :not(:placeholder-shown)) + span {
    background-color: white;
    transform: translateY(-50%) scale(0.6);
    color: var(--color-primary);
    font-family: sans-serif;
    font-weight: 700;
  }
</style>
